/* Header and Footer */
header {
    background-color: #1a73e8;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #303030;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: whitesmoke;
}

article {
    width: 80%;
    max-width: 800px;
}


.image-description {
    display: flex;
    align-items: center;
    gap: 20px;
}

.image-description img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}


table {
    width: 100%;
    border-collapse: separate;
    margin: 20px 0;
    border-radius: 8px;
    overflow: hidden;
}

table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

table tr:nth-child(even) {
    background-color: #e6e6e6;
}

table td {
    padding: 15px;
    text-align: left;
    font-size: 1.1rem;
    border: 2px solid black;
}


ul {
    list-style-type: none;
    padding-left: 0;
}

ul li::before {
    content: "⚙️";
    margin-right: 10px;
    font-size: 1.2em;
}

.roman-list {
    list-style-type: disc;
    padding-left: 20px;
}

.roman-list li {
    font-size: 1rem;
    margin-bottom: 5px;
}

.roman-list li::before {
    content: none;
}

a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    color: orangered;
    text-decoration: underline;
}

a:visited {
    color: purple;
    text-decoration: underline;
}


ul li:hover, .roman-list li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
